@model IEnumerable<Web4dotnet.Models.QLLuat>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>Search</h2>

    <p>
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <input type="text" name="search" />
            <input type="submit" value="Search" name="submit" />
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NDChuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Muc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NDMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NDDieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NDKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucPhatduoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucPhattren)
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Chuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NDChuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Muc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NDMuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NDDieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Khoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NDKhoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MucPhatduoi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MucPhattren)
                </td>
               

            </tr>
        }

    </table>
</center>